* {
    box-sizing: border-box;
    font-family: "Pokemon Classic", sans-serif;
}

@font-face {
    font-family: 'Pokemon Classic';
    src: url(assets/Pokemon\ Classic.ttf);
  }

html {
    scroll-behavior: smooth;
}
  
[hidden] {
    display: none !important;
}

div.landingText {
    position: relative;
    top: 50px;
    padding: 50px;

    text-align: center;

    background-image: url(assets/background.png);
    background-repeat: repeat;
}

div.landingText > img {
    height: 200px;
}

div.landingText > h2 {
    font-size: 10pt;
    color: #284D67;
}

div.landingText > button {
    border-style: solid;
    border-width: 5px;
    border-color: #546868;
    border-radius: 20px;
    color: #546868;
    background-color: #F8FAD3;
    margin: 30px;
    padding: 10px 25px 10px 25px;
}

div.landingText > table {
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
}

td {
    margin: 10px;
    padding: 20px;
    border-style: solid;
    border-color: #CDD6E7;
    border-width: 2px;
    border-radius: 2px;
}

div.landingText > h3, p {
    text-align: left;
    font-size: smaller;
}

h3 > img {
    height: 50px;
    padding: 0px 20px 0px 0px;
}


/* Nav bar styling */
ul.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #284D67;

    font-size: 12px;
}

ul.navbar li {
    float: right;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    margin: 10px 20px;
    text-decoration: none;
    transition-duration: 0.3s;
}

ul.navbar li.highlight {
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: #FFFFFF;

    background-color: #C9AA3F;
}

ul.navbar li a:hover {
    transform: scale(1.2);
}